<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>

    <!-- Tailwind Classes -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Custom JS functions -->
    <script type="text/javascript" src="static/functions.js"></script>

    <!-- Custom CSS styles -->
    <link rel="stylesheet" href="static/styles.css" />

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        /* Set console to full window if mobile browser is used */
        const console = document.getElementById("console");
        var dimStyles = ["w-4/5", "h-4/5"];

        if (isMobileBrowser()) {
          dimStyles = ["w-full", "h-full"];
        }

        console.classList.add(...dimStyles);
      });
    </script>
  </head>
  <body
    class="w-screen h-screen"
    onload="appendPrompt(); htmx.trigger('#default-action', 'click');"
  >
    <div
      id="root"
      class="h-full flex flex-col justify-center items-center bg-gray-400"
    >
      <div
        id="console"
        class="w-4/5 h-4/5 flex flex-col rounded-t-lg rounded-b-2xl shadow-xl shadow-gray-600"
      >
        <div
          id="navigation"
          class="flex justify-between bg-gray-200 rounded-t-lg"
        >
          <div id="actions" class="flex justify-start text-gray-800">
            {{ template "action" dict "label" "About Me" "command" "whoami"
              "customStyle" "rounded-tl-lg hover:bg-gray-300" "isDefault" true
            }}
            {{ template
              "action" dict "label" "My Work" "command" "mywork" "customStyle"
              "hover:bg-gray-300"
            }}
            {{ template "action" dict "label" "Contact"
              "command" "contact" "customStyle" "hover:bg-gray-300"
            }}
          </div>
          <div>
            {{ template "action" dict "label" "Clear" "command" "clear"
              "customStyle" "bg-red-600 hover:bg-red-700 text-white rounded-tr-lg"
            }}
          </div>
        </div>

        <div
          id="content-window"
          class="flex-1 bg-gray-800 rounded-b-2xl overflow-y-auto"
        >
          <div
            id="content"
            class="p-8 text-gray-300 flex flex-col gap-5 opacity-80"
          ></div>
        </div>
      </div>
    </div>

    <!-- HTMX -->
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

{{ define "action" }}
  <div class="px-3 py-1 cursor-pointer {{ .customStyle }}">
    <div
      {{ if .isDefault }}
        id="default-action"
      {{ end }}
      hx-get="/html/commands/{{ .command }}"
      hx-target="#command"
      hx-swap="outerHTML"
    >
      {{ .label }}
    </div>
  </div>
{{ end }}
