{{ define "project" }}
  <div class="flex justify-between gap-4">
    <div class="flex-1 flex flex-col justify-between gap-4">
      <div class="flex flex-col gap-2">
        <h3 class="font-bold text-2xl">{{ .title }}</h3>
        <div>{{ .summary }}</div>
      </div>
      <div class="flex flex-col gap-4">
        <div class="flex gap-4">
          {{ range .technologies }}
            <div class="p-2 border border-sky-300 rounded-md text-sky-300">
              {{ . }}
            </div>
          {{ end }}
        </div>
        <div class="italic">
          Source:
          <a href="{{ .repo }}" target="_blank" class="text-sky-300"
            >{{ .repo }}</a
          >
        </div>
      </div>
    </div>
    <div class="flex-1">
      <img class="object-cover rounded-xl max-h-96" src="{{ .image }}" />
    </div>
  </div>
{{ end }}
